/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
}

/* .container {
  padding: 1%;
} */

#nav {
  position: fixed;
  z-index: 1;
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: rgb(240, 240, 240) 2px solid;
}

#main {
  padding-top: 110px;
}

textarea {
    min-height: 400px;
}

/* retain white space from textarea aka the email body */
#body {
  white-space: pre-wrap;
}


/* email message listed in mailbox */
.message {
  display: flex;
  opacity: 70%;
  padding: 1%;
  border: 1px solid black;
}

.message:hover {
  opacity: 100%;
}

/* sender subject and timestamp of email message inside this element */
.message  span {
  flex: 1;
}

.email-read {
  background-color: rgb(240, 240, 240);
}